body{
    background-color: #e3e0cc;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


#header {
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    font-size: 4em;
    display: flex;
    flex-direction: row;
    background-color: #9fa9a3;
    padding: 10px;
    width: 750px;
}

.header {
    margin: 10px;
    padding-left: 5px;
    font-weight: bold;
}

#header img {
    height: 100px;
    width: 100px;
    justify-content: left;
}

#age-header, #height, #weight, #beginning-bpm, #ending-bpm, #address, #miles-away {
    margin-top: 10px;
}

#age-right, #weight-right {
    justify-content: right;
}

input {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 30px;
    background-color: white;
    border: black solid 3px;
    border-radius: 5px;
    text-align: center;
}

#age-right, #weight-right {
    margin-left: 120px;
}

#age-header, #weight, #beginning-bpm, #ending-bpm {
    font-size: 2em;
    text-align: center;
}

#age {
    width: 250px;
}

#weight-text {
    width: 250px;
}

#beginning-BPM {
    width: 250px;
}

#ending-BPM {
    width: 250px;
}

#height {
    display: flex;
    justify-content: center;
}

#height-feet-label {
    text-align: center;
    font-size: 24px;
    margin-bottom: -10px;
}

#feet-selector, #inches-selector {
    width: 120px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    border: black solid 2px;
    border-radius: 5px;
}

#address, #miles-away {
    font-size: 2em;
}

#address-text {
    margin-bottom: 10px;
    width: 250px;
}

#address-text-2 {
    width: 250px;
}

#miles-text {
    width: 250px;
}

.submitBtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    font-size: 30px;
    width: 260px;
    background-color: lightgrey;
    padding: 5px;
    border: solid black 5px;
    border-radius: 5px;
}

.submitBtn:hover {
    background-color: #9fa9a3;
}

#trails-container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.trail-div {
    margin-top: 20px;
}

.trail-data-left {
    text-align: left;
    width: 150px;
}

.trail-data-right {
    text-align: left;
}

.trail-table {
    background-color: white;
    border: solid black 2px;
    border-radius: 5px;
    width: 100%;
}